.dashboard-title {
    margin-top: 2.3rem;
    font-size: 1.8rem;
    text-align: left;
    font-weight: normal;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items to the center */
    border-bottom: 1px solid #6c757d; /* Adds a line under the title */
    padding-bottom: 0.5rem; /* Adjust space between the title and the line */
}

.dashboard-timestamp {
    font-size: 0.9rem; /* Smaller font size for the timestamp */
    font-weight: normal;
    align-self: flex-end; /* Align the timestamp to the end */
    padding-bottom: 0.2rem; /* Adjust to align it right above the line */
    color: #adb5bd;
}