.dashboard-title {
    margin-top: 2.3rem;
    font-size: 1.8rem;
    text-align: left;
    font-weight: normal;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-bottom: 1px solid #6c757d;
    padding-bottom: 0.5rem;
}

.dashboard-timestamp {
    font-size: 0.9rem;
    font-weight: normal;
    align-self: flex-end; 
    padding-bottom: 0.2rem;
    color: #adb5bd;
}