/*Stylesheet inspired by GitHub styling */

.custom-github-style {
    background: #f6f8fa; 
    border-radius: 5px; 
    border: 1px solid #6c757d; 
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace; 
    font-size: 13px; 
    line-height: 1.5; 
  }
  
.custom-github-style .token.operator,
.custom-github-style .token.entity,
.custom-github-style .token.url,
.custom-github-style .language-css .token.string,
.custom-github-style .style .token.string {
    color: #d63384;
}

.custom-github-style .token.comment,
.custom-github-style .token.prolog,
.custom-github-style .token.doctype,
.custom-github-style .token.cdata {
    color: #6a737d; 
}