.sign-out-button {
  background-color: #2e2e3c; 
  color: white;              
  border: none;              
  border-radius: 10px;       
  padding: 10px 20px;        
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: all 0.3s ease; 
  font-size: 16px;           
  font-weight: bold;         
  outline: none;             
}
  
.sign-out-button:hover {
  background-color: #3d3d53; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}